<%- include('partials/head') %>
    <h1>Products</h1>
    <ul>
        <% for(var i=0;i<items.length;i++) {%>
            <li>
                <%= items[i].id+"."+items[i].name%>
            </li>
            <% } %>
    </ul>
    <h3>Add a new Products</h3>
    <form action="/new-product" method="POST">
        <input type="text" name="newItem" id="newItem">
        <button>
            Add a New Product
        </button>
    </form>
    <script>
        const txtNewItem = document.getElementById('newItem');
        txtNewItem.focus();
    </script>
    <%- include('partials/footer') %>